<div class="container-column">
    <h1>Password Reset</h1>
    {{#if data}}
    <p>Please enter the code sent to your email, and set a new password</p>
    <p>Please ensure your password is at least 6 characters long!</p>
    {{#if errors}}
        {{#each errors}}
            <h3 style="color: red;">{{this.msg}}!</h3>
        {{/each}}
    {{/if}}
    <form method="POST" action="/user/passwordcode">
        <input type="text" name="email" value="{{data}}" readonly>
        <input type="text" name="code" placeholder="Please Enter Code Here">
        <input type="password" name="password1" placeholder="new password">
        <input type="password" name="password2" placeholder="match password">
        <input type="submit" class="button" value="Change password">
    </form>
    {{else}}
    <p>Please enter the email used for your account and enter the code that's sent to ur email to reset ur password</p>
    {{#if errors}}
        {{#each errors}}
            <h3 style="color: red;">{{this.msg}}!</h3>
        {{/each}}
    {{/if}}
    <form method="POST" action="/user/passwordreset">
        <input type="text" name="email" placeholder="email">
        <input type="submit" class="button" value="sendcode"> 
    </form>
    {{/if}}
</div>