<div class="container-column-boff">
    <h1 class="container-header-row">General Forum Rules</h1>
    <div class="padding">
        <h3>Please follow these rules to ensure a safe and fun forum</h3>
        <ul class="rules padding">
            <li>Do not advertise other websites or forums. Any posts advertising another website or forum risks being deleted.</li>
            <li>English only, please! This forums official language is English.</li>
            <li>Do not post yours or others personal information. This includes emails, phone numbers, addresses, real names, etc.</li>
            <li>Post in the correct category. Posts in the wrong category will be moved to the correct place.</li>
            <li>Do not harass other users.</li>
        </ul>
    </div>
</div>

<div class="container-column-boff margin-top">
    <h1 class="container-header-row">Restricted Topics!</h1>
    <ul class="rules padding">
        <li>Hacking</li>
        <li>Cheating</li>
        <li>Porn</li>
        <li>Violence</li>
        <li>Racism</li>
        <li>Discrimination</li>
        <li>Illegal Content</li>
    </ul>
</div>