@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Globals */
:root{
    --main-background:#121212;
    --background: #1e1e1e;
    --foreground: white;
    --header-background: #2a2b3d;
    --user-link: #3CC47C;
    --special: #9ccafd;
    /* --chatname-color: #71ada5; */
    --chatname-color: #718dad;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--foreground);
    /* font-family: 'Arvo', serif; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-image: url("/images/mountains.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
    background-color: var(--background);
    border: none;
    margin: 0.25rem;
    padding: 10px;
    color: white;
}

textarea{
    background-color: var(--background);
    border: none;
    color: white;
    padding: 1rem;
}

.image-big{
    width: 8rem;
    height: 8rem;
    border: black 2px solid;
}

.image{
    width: 4rem;
    height: 4rem;
    border: black 2px solid;
}

.image-small{
    width: 2rem;
    height: 2rem;
    border: black 2px solid;
}

.button{
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    border: none;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    padding: 0.5rem;
    margin: 0.25rem;
}

.button:hover{
    background-color: dodgerblue;
}

a{
    font-size: 1rem;
    color: var(--special);
}

.container{
    background-color: var(--background);
}

.container-row{
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    padding: 1rem;
    border: black 2px solid;
}

.container-row-boff{
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    padding: 1rem;
    border: none;
}

.container-column{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 1rem;
    border: black 2px solid;
}

.container-column-boff{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border: none;
}

.private-message:nth-child(odd){
    background-color: var(--header-background);
}

.container-header-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--header-background);
    /* background: linear-gradient(90deg, rgba(42,43,61,1) 0%, rgba(37,37,52,1) 100%); */
    border-bottom: #444cbc 2px solid;
    padding: 0.5rem;
    color: white;
}

.container-header-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--header-background);
    border-bottom: #444cbc 2px solid;
    padding: 0.5rem;
    color: white;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.margin{
    margin: 1rem;
}

.margin-top{
    margin: 0;
    margin-top: 0.5rem;
}

.margin-bottom{
    margin-bottom: 0.5rem;
}

.margin-left{
    margin: 0;
    margin-left: 0.5rem;
}

.margin-right{
    margin: 0;
    margin-right: 0.5rem;
}

.margin-hor{
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.margin-ver{
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.center{
    align-items: center;
    justify-items: center;
}

.center-h{
    align-items: center;
}

.center-v{
    justify-items: center;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.padding{
    padding: 0.5rem;
}
/* ================================ */


nav{
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: var(--background);
    border-bottom: black 2px solid;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: auto;
}

.nav-header{
    padding: 0.25rem;
    height: fit-content;
    width: fit-content;
    height: 100%;
    border-right: 2px white solid;
    border-left: 2px white solid;
}

.nav-header h1:hover{
    color: dodgerblue;
}

.nav-header a:hover{
    color: var(--special);
}

.nav-links{
    display: flex;
    flex-direction: row;
    margin-left: 0.25rem;
}

.nav-links a{
    transition: 0.5s;
    padding: 1rem;
}

.nav-links a hr{
    visibility: hidden;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    width: 0%;
    transition: 1s;
}

.nav-links a:hover{
    color: var(--user-link);
}

.nav-links a:hover hr{
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.user-container{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-container h1{
    font-weight: bold;
}
.user-menu{
    padding: 1rem;
}
.user-menu h1{
    color: white;
    transition: 0.5s;
}
.user-menu:hover{
    color: black;
}

.user-menu:hover h1{
    color: dodgerblue;
}

.user-menu:hover .user-dropdown{
    visibility: visible;
    opacity: 1;
}

.user-dropdown{
    overflow: hidden;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 21.3%;
    background-color: var(--main-background);
    padding: 1rem;
    transition: 0.5s;
}

.user-dropdown a{
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: 0.3s;
    color: white;
}

.user-dropdown a:hover{
    color: dodgerblue;
}

.overlay-hidden{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 39, 39, 0.9);
}

.overlay-visible{
    display: flex;
    flex-direction: column;
    visibility: visible;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 39, 39, 0.9);
}

/* Main Grid =============== */
main{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    width: 60%;
}
/* ========================== */

.category{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.category h1{
    font-size: 1.5rem;
}

.chatbox{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin-top: 2rem;
}

.chatbox input{
    margin: 0;
    width: 100%;
    text-align: left;
}

.chatbox-messages{
    height: 15rem;
    overflow-y: scroll;
    word-break: break-all;
    padding: 0.25rem;
}

.chatbox-messages span{
    color: var(--chatname-color);
    font-weight: bold;
}

@keyframes chatmessage{
    0%{
        opacity: 0;
        margin-left: -100px;
    }
    100%{
        margin-left:0;
        opacity: 1;
    }
}

.chatbox-messages p{
    animation-name: chatmessage;
    animation-duration: 1s;
}

.online-users-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    word-break: break-all;
}

.post{
    background-color: var(--background);
    padding: 1rem;
    border: black 2px solid;
}

.post-header h3 a{
    color: var(--user-link);
}

.post-content{
    font-size: 1.5rem;
    word-break: break-all;
}

.new-comment{
    width: 90%;
    background-color: var(--background);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: black 2px solid;
}

.new-comment form textarea{
    width: 100%;
    resize: vertical;
    color: black;
    padding: 1rem;
}

.comments{
    display: flex;
    flex-direction: column;
}

.comments p{
    word-break: break-all;
}

.comment-content{
    margin-bottom: 1rem;
    background-color: var(--background);
    border: black 2px solid;
    word-break: break-all;
    padding: 0.25rem;
}

.comment-content h3 a{
    color: var(--user-link);
}

.message-other{
    display: inline-block;
}

.message-other > h3{
    text-align: right;
    padding-right: 0.5rem;
    color: var(--special);
}

.message-other > p{
    text-align: right;
    word-break: break-all;
}

.message-other img{
    float: right;
}

.private-message > h3{
    font-size: 1.5rem;
    color: var(--special);
}

.private-message a{
    font-size: 1.5rem;
}

.rules{
    margin-left: 1rem;
}

.rules li{
    color: var(--special);
    margin-bottom: 0.5rem;
}

.notifications-hidden{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    visibility: hidden;
    position: absolute;
    right: 15rem;
    top: 4rem;
    height: 10rem;
    width: 10rem;
}

.notifications-visible{
    display: flex;
    flex-direction: column;
    visibility: visible;
    position: absolute;
    left: 81%;
    top: 0;
}

.notification{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    /* background-color: var(--header-background); */
    background: radial-gradient(circle,rgba(42,43,61,1) 0%, rgba(30,30,30,1)  100%);
    border-radius: 10px;
    margin-bottom: 0.25rem;
    padding: 1rem;
}

.toast{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 10%;
    background-color: var(--background);
    padding: 1rem;
    border: var(--special) 2px solid;
}

.toastshow{
    visibility: visible;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 10%;
    background-color: var(--background);
    padding: 1rem;
    border: var(--special) 2px solid;
    animation: toastin 0.5s, toastout 0.5s 2.5s;
}

@keyframes toastin{
    from{right:0;opacity: 0;}
    to{right: 10%;opacity: 1;}
}

@keyframes toastout{
    from{right:10%;opacity: 1;}
    to{right: 0;opacity: 0;}
}

.toast p{
    color: var(--special);
}